<img class="profile-image" height="120" width="120" [src]='userDetails.profilePictureUrl' alt="">
<div class="details">
    <p class="user-name">{{userDetails.name}}</p>
    <div class="stat-grid">
        <span class="stat-name">Sunstone ID</span>
        <span class="stat-value">{{userDetails.sunstoneId}}</span>
        <span class="stat-name">Specialization</span>
        <span class="stat-value">{{userDetails.specialization}}</span>
        <span class="stat-name">Campus</span>
        <span class="stat-value">{{userDetails.campus}}</span>
        <span class="stat-name">Ongoing applications</span>
        <span class="stat-value">{{userDetails.activeApplications}}</span>
        <span class="stat-name">Batch</span>
        <span class="stat-value">{{userDetails.batch}}</span>
        <span class="stat-name">Opportunities</span>
        <span class="stat-value">{{userDetails.opportunities}}</span>
    </div>
</div>