@import "./normalize.scss";

:root {
    --color-text-primary: hsl(31, 100%, 44%);
    --color-primary: hsl(39, 100%, 50%);
    --color-primary-alpha-12: hsla(39, 100%, 50%, 0.12);
    --color-primary-alpha-50: hsla(39, 100%, 50%, 0.5);
    --color-primary-dark: hsl(39, 100%, 45%);

    --color-secondary: rgb(56, 126, 255);
    --border-radius-default: 12px;

    --grey-1: hsl(0, 0%, 90%);
    --grey-15: hsl(0, 0%, 85%);
    --grey-2: #cccccc;
    --grey-3: #b3b3b3;
    --grey-4: #999999;
    --grey-5: #808080;
    --grey-6: #666666;
    --grey-7: #4d4d4d;
    --grey-9: #313131;
    --grey-075: #ececec;
    --grey-05: #f2f2f2;

    --color-text-muted: var(--grey-4);
    --color-text-default: var(--grey-7);
}

* {
    box-sizing: border-box;
}

body {
    font-family: "Roboto", "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
    font-weight: 500;
    color: var(--color-text-default);
}
